<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="token_ConsumerKey" value="eMDTqE3pHWLXjJxx2gKRqA"/>
    <add key="token_ConsumerSecret" value="clFXkPdKcml4GZub70HB9gpJvl6qqA8Dw0MghM8oy2M"/>
    <add key="token_AccessToken" value="2216005236-733WENWLmJE3GZbzEdalUavXOiwFkC9BW9fLY9C"/>
    <add key="token_AccessTokenSecret" value="V4Bx9R4RCOyJPa0dv1WOJZOD5dRKmlZoaWaJymXLcg4jW"/>
  </appSettings>
</configuration>